In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-09-20 18:12:51,-9.8000,-139.0333,76.55,76,34,22.15
1,1,Vaini,TO,2022-09-20 18:12:02,-21.2000,-175.2000,71.76,94,40,8.05
2,2,Aklavik,CA,2022-09-20 18:12:16,68.2191,-135.0107,42.80,87,100,3.44
3,3,Kapaa,US,2022-09-20 18:11:57,22.0752,-159.3190,80.92,70,20,11.50
4,4,Hobart,AU,2022-09-20 18:11:26,-42.8794,147.3294,53.46,62,100,6.91

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# Max Temperature Heatmap

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Alternate list comprehension method: 
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# %Humidity Heatmap

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# %Cloudiness Heatmap

In [19]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Wind Speed Heatmap

In [20]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Get Vacation Criteria

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-09-20 18:12:51,-9.8000,-139.0333,76.55,76,34,22.15
3,3,Kapaa,US,2022-09-20 18:11:57,22.0752,-159.3190,80.92,70,20,11.50
6,6,Dicabisagan,PH,2022-09-20 18:14:33,17.0818,122.4157,76.32,89,100,3.27
9,9,Tomatlan,MX,2022-09-20 18:13:40,19.9333,-105.2500,85.91,65,74,3.47
13,13,Ribeira Grande,PT,2022-09-20 18:13:28,38.5167,-28.7000,79.20,73,20,9.22
16,16,Dong Hoi,VN,2022-09-20 18:16:15,17.4833,106.6000,80.58,84,100,3.15
17,17,Lookan,PH,2022-09-20 18:16:16,5.0370,120.1027,82.63,71,84,3.53
19,19,Butaritari,KI,2022-09-20 18:12:54,3.0707,172.7902,80.26,76,100,9.78
20,20,Saurimo,AO,2022-09-20 18:16:18,-9.6608,20.3916,77.07,49,82,2.15
22,22,Westport,US,2022-09-20 18:15:59,41.1415,-73.3579,79.74,60,100,8.05

In [28]:
preferred_cities_df.count()

City_ID       187
City          187
Country       187
Date          187
Lat           187
Lng           187
Max Temp      187
Humidity      187
Cloudiness    187
Wind Speed    187
dtype: int64

# Get Travel Destinations

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0           Atuona      PF     76.55  -9.8000 -139.0333
3            Kapaa      US     80.92  22.0752 -159.3190
6      Dicabisagan      PH     76.32  17.0818  122.4157
9         Tomatlan      MX     85.91  19.9333 -105.2500
13  Ribeira Grande      PT     79.20  38.5167  -28.7000
16        Dong Hoi      VN     80.58  17.4833  106.6000
17          Lookan      PH     82.63   5.0370  120.1027
19      Butaritari      KI     80.26   3.0707  172.7902
20         Saurimo      AO     77.07  -9.6608   20.3916
22        Westport      US     79.74  41.1415  -73.3579

In [34]:
# set the parameters to search for a hotel
params = {
    'radius':5000,
    'type':'lodging',
    'key':g_key}

# iterate through the dataframe
for index, row in hotel_df.iterrows():
    # get the latitude and longitude
    lat=row['Lat']
    lng=row['Lng']
    
    # add the lat and lng to location key for the params dict
    params['location'] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print('Hotel not found... skipping')

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

# Create a Max Temp Heatmap from Hotel DataFrame

In [1]:

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

NameError: name 'hotel_df' is not defined

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]